[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
xlrd = "*"
numpy = "*"
scipy = "*"
statsmodels = "*"
linearmodels = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
pandas-profiling = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
